* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column wrap;
  /*min-height: 100vh;*/
  justify-content: center;
  align-items: center;
  /*background-color: #b5123d;*/
}
header {
  position: relative;
  top: 0;
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding: 6px;
  max-height: 100px;
  width: 100%;
}
i {
  font-size: 80px;
  color: white;
}

nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: black;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px;
}
nav a {
  padding-right: 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.active {
  background-color: #b5123d;
  border-radius: 3px;
}
nav a:hover {
  color: #49c8ad;
}

main {
  padding: 10%;
  display: flex;
  flex-flow: column nowrap;
  /*position: absolute;*/
  width: 80%;
  background-color: #b5123d;
  justify-content: space-around;
  row-gap: 10px;
}
section {
  position: relative;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 40px;
  border: 1px solid black;
  text-align: center;
}
p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
}
button {
  background-color: #b5123d;
  border-radius: 3px;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
}
#bookmarkicon {
  color: #19c127;
  font-size: 40px;
  /*position: absolute;*/
  position: static;
  left: 20;
  /*z-index: 5;
  top: 0;*/
}
